/* Agrega estas reglas a tu archivo styles.css */
  body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el contenido abarque toda la altura de la ventana */
  }

  div .custom-div{
    display: flex;
    flex-direction: column;
    height: 100vh !important;; /* Abarca toda la ventana */
  }
  
 /*Estilos del header*/

 .navbar-brand{
  font-size: 22px;
 }

 .usuario-header{
  color: #ffffff;
  font-size: 18px;
 }
 
 .btn-danger{
  background-color: #df6262 !important;
  border-radius: 45%;
  margin-left: 30px;
 }

 .btn-danger:hover{
  background-color: #af4343 !important;
 }


  .custom-header {
    background-color: #0056b3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35% !important; /* Ocupa 25% de la altura */
    width: 100%;
  }

  .custom-main {
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 !important;
    max-width: 3340px;
    width: 100%;
    height: 55%;
    overflow-y: auto; /* Habilita el scroll vertical */
  }

footer {
    background-color: #466d94;
    color: white;
    height: 10%; /* Ocupa 25% de la altura */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
  margin: auto;
}

.panel-bienvenida{
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(255, 253, 253, 0.884) !important;
}

.fondo-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Asegura que ocupe toda la altura de la ventana */
  background: url('../images/infraestructura-vial.jpg') no-repeat center center/cover;
  position: relative;
}

.fondo-imagen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Sombra con opacidad del 30% */
  z-index: 1; /* Asegura que esté detrás del contenido */
}

.fondo-imagen h1, p {
  position: relative; /* Asegura que el contenido esté encima del overlay */
  z-index: 2;
  margin-bottom: 40px;
}

.container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ced8e4;
  width: 30%;
  max-width: 100%; /* Evita que se salga del contenedor */
  padding: 80px;
  border-radius: 20px;
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

.container-register h1 {
margin-bottom: 40px;
}
.container-register form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que el formulario se ajuste al contenedor */
}

.container-register input {
  width: 100%; /* Hace que los inputs ocupen todo el ancho del contenedor */
  max-width: 100%;
  margin-bottom: 15px; /* Espaciado entre los inputs */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Mantiene el padding dentro del ancho */
}

.container-register .boton-register{
  align-self: center;
  margin-top: 20px
}
/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .container-register {
    width: 90%; /* Más ancho en dispositivos móviles */
    padding: 40px; /* Reduce el padding para ajustar */
  }
}

  h1 {
    font-size: 2rem;
    color: #007bff;
  }
  
  .alert {
    margin-top: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    align-self: center;
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #7baadd;
  }

/* Estilos para la página de inicio de sesión */
  
  .form-control {
    border-radius: 5px;
    width: 30rem;
  }
  
  
  .alert-danger {
    margin-top: 10px;
  }

/* Estilos para el Panel del Ciudadano */

  .titulo-ciudadano{
    display: flex;
    justify-content: center;
    margin-bottom: 40px !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .btn {
    background-color: #17a2b8;
    border: none;
    color: white;
  }
  
  .btn:hover {
    background-color: #52c0d1;
  }

  
/* Estilos para el Historial de Reportes */
  
  .list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .list-group-item h5 {
    color: #343a40;
  }
  
  .list-group-item p {
    color: #495057;
  }
  
  .list-group-item small {
    color: #6c757d;
  }

  .report-container {
    height: 100%; /* Altura máxima para habilitar el scroll */
    padding: 40px;
  }

  .report-container h1{
    text-align: center;
  }
  .report-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .report-container .input-large{
    width: 44rem;
  }

  .report-container .mapa{
    width: 60%;
  }

  .preview-image {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
  }

  
  


  
